<!-- 
<app-tag-selector></app-tag-selector>
<div class="app-class-selector"></div>
<div app-attribute-selector></div> -->

<!-- <app-emulated></app-emulated>
<h1>App Component</h1>
<app-shadow-dom></app-shadow-dom>
<app-none></app-none>
<h2 class="bg-primary">Lorem ipsum dolor sit.</h2> -->

<button class="btn btn-primary">Submit</button>

<app-text-interpolation></app-text-interpolation>
<app-property-binding></app-property-binding>
<app-attribute-binding></app-attribute-binding>
<app-class-binding></app-class-binding>
<app-style-binding></app-style-binding>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>